<h1>Listing proxy_worlds</h1>

<table>
  <thead>
    <tr>
      <th>World uri</th>
      <th>Proxy world uri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proxy_worlds.each do |proxy_world| %>
      <tr>
        <td><%= proxy_world.world_uri_id %></td>
        <td><%= proxy_world.proxy_world_uri_id %></td>
        <td><%= link_to 'Show', proxy_world %></td>
        <td><%= link_to 'Edit', edit_proxy_world_path(proxy_world) %></td>
        <td><%= link_to 'Destroy', proxy_world, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proxy world', new_proxy_world_path %>
