<h1>Listing uris</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Port</th>
      <th>Uri type</th>
      <th>Local</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Is external</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uris.each do |uri| %>
      <tr>
        <td><%= uri.host %></td>
        <td><%= uri.port %></td>
        <td><%= uri.uri_type %></td>
        <td><%= uri.local_id %></td>
        <td><%= uri.name %></td>
        <td><%= uri.slug %></td>
        <td><%= uri.is_external %></td>
        <td><%= link_to 'Show', uri %></td>
        <td><%= link_to 'Edit', edit_uri_path(uri) %></td>
        <td><%= link_to 'Destroy', uri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uri', new_uri_path %>
